.qq-uploader {
   position:relative;
   width: 100%;
}

.qq-uploader a {
   color: #000;
   text-decoration: underline !important;
}


.qq-uploader .rex-form-aligned,
.qq-uploader .btn-toolbar .rex-form-aligned
{
    margin: 0;
}

.qq-upload-button {
   display:block; /* or inline-block */
   color:#fff;
    padding: 20px 0;
    margin-bottom: 20px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.qq-upload-button-hover {
   background:#48ab00;

}

.qq-upload-button-focus {
   outline:1px dotted black;

}

.qq-upload-drop-area {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:150px;
   min-height: 70px;
   z-index:2000;
   background:#FF9797;
   text-align:center;
   color: #fff;
   font-weight: bold;
   border: 1px dashed #fff;
}

.qq-upload-drop-area-active {
   background:#48ab00;
}

.qq-upload-drop-area span {
   display:block;
   position:absolute;
   top: 50%;
   width:100%;
   margin-top:-8px;
   font-size:20px;
}


.qq-upload-list {
    margin: 0 0 20px 0;
    padding: 0;
}

.styleless .qq-upload-list {
   padding: 5px 5px 5px 0 !important;
}

.qq-upload-list li {
   margin:0 0 2px 0;
   padding:  5px;
   line-height:15px;
   font-size:12px;
   background: #e5e5e5;
   border-bottom: 1px solid #eee;
   position: relative;
}

.styleless .qq-upload-list li {
   margin: 0 !important;
}

.qq-upload-list li:hover {
   background: #e9e9e9;
}

.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text,
.qq-upload-success-text {
    margin-right: 7px;
}

.qq-upload-failed-text,
.qq-upload-success-text {
   color: #eee;
   font-size: 9px;
   position: absolute;
   right: 155px;
}

.qq-upload-file {}
.qq-upload-spinner {
   display:inline-block;
   background: url("loading.gif") no-repeat;
   width:15px;
   height:15px;
   vertical-align:text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
   font-size:11px;
}

.qq-upload-size {
   position: absolute;
   z-index: 10;
   right: 100px;
}

.qq-upload-fail .qq-upload-size,
.qq-upload-success .qq-upload-size {
   position: static !important;
   left: none;
   float: right;
}


.qq-upload-cancel {
   position: absolute;
   right: 5px;
   z-index: 10;
}

.qq-upload-failed-text {
   display:none;
}

.qq-upload-success-text {
   display: none;
}

.qq-upload-progress {
   border: 1px solid #eee;
   height: 15px;
   width: 200px;
   position: absolute;
   top: 4px;
   right: 3px;
}

.qq-upload-progress-inner {
   background: #6AB000;
   float: left;
   height: 15px;
}

.qq-upload-fail .qq-upload-failed-text,
.qq-upload-success .qq-upload-success-text {
   display:inline;
}

.qq-upload-fail .qq-upload-progress,
.qq-upload-success .qq-upload-progress {
   display: none;
}

li.qq-upload-success,
li.qq-upload-success:hover {
   background: #48ab00;
   color: #fff !important;
}


.edit_panel {
   display: none;
}

.edit_uploads li:hover {
   background: #bbb;
   color: #fff;
}

.edit_uploads li.open,
.edit_uploads li.open:hover {
   background: #666 !important;
   color: #fff !important;
}

.edit_uploads li {
   cursor: pointer;
   border-bottom: 1px solid #bbb;
}

.edit_uploads li .rex-form-wrapper {
   background: #666 !important;
}

.edit_uploads li.open {
   cursor: default;
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
}

.edit_uploads p {
   margin: 0 !important;
}

.edit_uploads div.multiupload_edit {
   border: #fff !important;
   padding: 3px !important;
}

.edit_uploads textarea {
   height: 45px;
}


.edit_uploads .rex-form-text input,
.edit_uploads textarea
 {
}

li.open .editFileName {
   background: #999999;
   border-bottom: 1px solid silver;
   color: #C2FF86;
   display: block;
   font-weight: bold;
   margin: -5px -5px 10px;
   padding: 5px 10px;
}

li.open #rex_file_new_category {
   width: 463px;
}

li.open .multiupload_edit label {
   float: none !important;
   padding: 5px 0 !important;
}

li.open p.rex-form-submit {
   border-top: 1px solid silver !important;
   padding-top: 10px !important;
   margin-top: 5px !important;
   width: 99% !important;
}


li.open .rex-form-submit {
   margin-left: 0px !important;
   margin-right: 10px !important;
}

.editObject .clear_link {
   cursor: pointer;
   float: right;
   padding-left: 10px;
   position: absolute;
   right: 10px;
   top: 6px;
}

.editObject .clear_link:hover {
   color: red;
}

.editObject .clear_link  a {
   font-weight: bold;
   text-decoration: none !important;
}

.editObject .qq-upload-success .clear_link a {
   color: #fff;
   font-weight: bold;
   text-decoration: none !important;
}


.editObject .apply_link {
   cursor: pointer;
   padding-left: 10px;
   position: absolute;
   right: 30px;
   top: 6px;
}

.editObject .apply_link:hover {
   color: green;
}

li.qq-upload-fail,
li.qq-upload-fail:hover,
li.qq-upload-fail a {
   background: #880000;
   color: #fff !important;
}

.qq-upload-file {
   display: inline-block;
   width: 325px
}

.upload_finish {
   color: #f5f5f5;
}

.clear_link {
   cursor: pointer;
   float: right;
   padding-left: 10px;
}

.clear_link:hover {
   color: red;
}

.clear_link  a {
   font-weight: bold;
   text-decoration: none !important;
}

.qq-upload-success .clear_link a {
   color: #fff;
   font-weight: bold;
   text-decoration: none !important;
}
